<!DOCTYPE html>
<html>
<head>
  <!-- Just the basic html structure to present the data. All data related to the offers are loaded by ajax and attached to the DOM by Vue.js. -->

{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static "/main.css" %}">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid p-0 vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Settle<strong>Sweet</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search' %}">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="basic-addon1">Region: </div>
            </div>
            <input class="form-control mr-sm-2 city" type="text" name="city" placeholder="Paris" aria-label="City"  data-provide="typeahead"  data-source="/test/">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="basic-addon1">Surface: </div>
            </div>
            <input class="form-control" type="number" placeholder="min" name="surface_min" style="width: 126px;">
            <input class="form-control mr-sm-2" type="number" placeholder="max" name="surface_max" style="width: 126px;">
          </div>
          <div class="input-group btn-group btn-group-toggle mr-sm-2" data-toggle="buttons">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">Rooms: </div>
              </div>
              <label class="btn btn-outline-success active d-inline-block">
                <input type="checkbox" name="one_room" checked autocomplete="off"> One
              </label>
              <label class="btn btn-outline-success active d-inline-block">
                <input type="checkbox" name="two_room" checked autocomplete="off"> Two
              </label>
              <label class="btn btn-outline-success active d-inline-block">
                <input type="checkbox" name="three_room" checked autocomplete="off"> Three
              </label>
            </div>
          <button class="btn btn-secondary1 my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="row h-100">
      <div id="apt-list" class="col-3 d-md-flex p-0 position-relative">
        <div class="position-absolute bg-white text-muted p-1 text-center" style="bottom: 0px; right: 0px; left: 0px;z-index: 1030;">
          <small> {% verbatim %} {{ totalRecords }} {% endverbatim %} apartments were found.</small>
        </div>
        <div class="container overflow-auto" style="margin-bottom:32px;">
          <a v-for="apt in apts" class="card-apt" :href="'{% url 'details' %}?listing_id=' + apt.listingId">
            <div class="row mt-0 mb-2 pt-2 pb-2 bg-light border shadow-sm">
              <div class="col text-right">
                <div> {% verbatim %} {{ apt.price }} {% endverbatim %} &euro;</div>
                <div> {% verbatim %} {{ apt.rooms }} {% endverbatim %} rooms </div>
                <div> {% verbatim %} {{ apt.superficy }} {% endverbatim %} m<sup>2</sup> </div>
              </div>
              <div class="col">
                  <img v-bind:src="{% static "/" %} + apt.pic" class="img-thumbnail" >
              </div>
            </div>
          </a>
        </div>
      </div>

      <div id="apt-view" class="col p-0 d-md-flex">
        <div class="container-fluid overflow-auto">
          <div class="row justify-content-center">
            <div class="col text-center font-weight-bold bg-light border pt-2 pb-2"> {% verbatim %} {{ apt.superficy }} {% endverbatim %} m<sup>2</sup> </div>
            <div class="col text-center font-weight-bold bg-light border pt-2 pb-2"> {% verbatim %} {{ apt.rooms }} {% endverbatim %} rooms </div>
            <div class="col text-center font-weight-bold bg-light border pt-2 pb-2"> {% verbatim %} {{ apt.price }} {% endverbatim %} &euro; </div>
          </div>
          <div class="row justify-content-center pt-2 pb-2 ">
            <div id="carouselDetailView" class="col-10 carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <div class="carousel-item" v-for="(pic, index) in apt.pics" :class="{ 'active': index == 1 }">
                    <img v-bind:src="{% static "/" %} + pic"  class="d-block w-100" >
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselDetailView" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselDetailView" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="row justify-content-center mt-3">
                <div class="col-10">
                  <div class="container">
                    <h3 class="row font-weight-bold mb-4"> {% verbatim %} {{ apt.title }} {% endverbatim %} </h3>
                    <h5 class="row font-weight-bold lead"> Description: </h5>
                    <p class="row lead"> {% verbatim %} {{ apt.description }} {% endverbatim %}</p>

                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>

  const apt_view = new Vue({
    el: "#apt-view",
    data: {
        apt: {}
    }
  });

  const app_list = new Vue({
    el: "#apt-list",
    data: { totalRecords:0, apts:[] },
    created() {
      fetch("/search/search").then(response => response.json()).then( json => { this.apts = json.apts; this.totalRecords = json.totalRecords;});
    },
    updated() {
      $("a.card-apt").on("click", function(e){
        e.preventDefault();
        console.log($(this).attr("href"))
        fetch($(this).attr("href"))
          .then(response => response.json())
          .then( json => { apt_view.apt = json.apt;});
      }).first().click();
    }
  });

  $(".form-inline").on("submit", e => {
    e.preventDefault();
    //
    fetch($(".form-inline").attr("action") + "?" + $(".form-inline").serialize())
      .then(response => response.json())
      .then( json => { app_list.apts = json.apts; app_list.totalRecords = json.totalRecords;});
  });
  </script>

</body>
</html>
